<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header page-scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
    <a class="navbar-brand" href="index.html">
    <a class="navbar-brand" href="/"><h1>Fluffy Accountability</h1></a>
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
    <ul class="nav navbar-nav">
      <li class="active">
      <%= link_to('Home', root_path) %> 
      </li>
      <li>
        <%= link_to('About', root_path(anchor: 'about')) %> 
      </li>
      <li>
        <%= link_to('Contact', root_path(anchor: 'contact')) %>  
      </li>
      <% if current_user %>
        <li>
          <%= link_to('Log out', destroy_user_session_path, method: :delete) %>
        </li>
        <li>
          <%= link_to('Dashboard', dashboard_path) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Log in', new_user_session_path) %> 
        </li>
        <li>
          <%= link_to('Sign up', new_user_registration_path) %> 
        </li>
      <% end %>
      </ul>
  </div>
</div>
</nav>