<!DOCTYPE html>
<html>
<head>
  <title>Fluffy Accountability</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
  </head>

  

  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  <%= render 'layouts/top_nav' %>
    <div class='container'>
      <h4>
      <% if notice %>
        <%= notice %>
      <% end %>
      </h4>
    </div>


    <main class='container'>
      <%= yield %>
    </main>


  </body>

</html>
